<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.mybatis.mapper.RecordMapper">
    <resultMap id="Lists" type="Record">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="locpath" jdbcType="INTEGER" property="locpath"/>
        <id column="netpath" jdbcType="VARCHAR" property="netpath"/>
        <id column="ctime" jdbcType="BIGINT" property="ctime"/>
        <id column="utime" jdbcType="BIGINT" property="utime"/>
        <id column="atype" jdbcType="VARCHAR" property="atype"/>
        <id column="btype" jdbcType="VARCHAR" property="btype"/>
        <id column="address" jdbcType="VARCHAR" property="address"/>
        <id column="duration" jdbcType="BIGINT" property="duration"/>
        <id column="name" jdbcType="VARCHAR" property="name"/>
        <id column="content" jdbcType="VARCHAR" property="content"/>
        <id column="classify" jdbcType="INTEGER" property="classify"/>
        <id column="enable" jdbcType="INTEGER" property="classify"/>
        <id column="parentid" jdbcType="INTEGER" property="parentid"/>
        <id column="ctype" jdbcType="INTEGER" property="ctype"/>
        <id column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="selectAllByTypes" parameterType="string" resultMap="Lists">
        select * from Record where atype = #{atype,jdbcType=VARCHAR} and enable = 1
    </select>


    <select id="selectAllByTypesWithLimit" resultMap="Lists">
        select * from Record where atype = #{arg0} and enable = 1 limit #{arg1},#{arg2}
    </select>
    <select id="selectAllNotImageCheckWithLimit" resultMap="Lists">
        select * from Record where atype = 'image' and classify = 0 and enable = 1 limit #{arg0}
    </select>

    <select id="selectRecordsWithSizeLimit" resultMap="Lists">
        select * from Record where enable = 1 limit #{arg0},100
    </select>

    <select id="selectRecordsWithTypeSizeLimit" resultMap="Lists">
        select * from Record where atype = #{arg0} and enable = 1 limit #{arg1},100
    </select>

    <select id="selectRecordByLocalpath" resultMap="Lists">
        select * from record where locpath = #{arg0} and enable = 1
    </select>

    <select id="selectRecordsByParentId" resultMap="Lists">
        select * from record where parentId = #{arg0} and enable = 1
    </select>

    <update id="updateClassify">
        update record set classify = #{arg1} where id = #{arg0}
    </update>

    <update id="deleteByLocalPath">
        update record set enable = 0 where locpath = #{arg1}
    </update>

    <update id="updateParentIdById">
        update record set parentid = #{arg0} where id = #{arg1}
    </update>

    <insert id="insert" parameterType="Record">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into record (locpath, netpath,ctime, utime, atype,btype, address,duration, name,
        content,classify,ctype,parentid,remark)
        values (#{locpath,jdbcType=VARCHAR}, #{netpath,jdbcType=VARCHAR},#{ctime,jdbcType=BIGINT},
        #{utime,jdbcType=BIGINT}, #{atype,jdbcType=VARCHAR},
        #{btype,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},#{duration,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{content,jdbcType=LONGVARCHAR},
        #{classify,jdbcType=INTEGER},#{ctype,jdbcType=INTEGER},#{parentid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updatePathById" parameterType="Record">
        update record set locpath = #{locpath,jdbcType=VARCHAR},netpath = #{netpath,jdbcType=VARCHAR} where id =
        #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAllFolder" resultMap="Lists">
        select * from record where ctype = 1 and enable = 1
    </select>

    <select id="getAllRecordsDescLimit" resultMap="Lists">
        select * from record order by ctime desc limit #{arg0},#{arg1}
    </select>


    <update id="updateCtime">
        update record set ctime = #{arg1} where id = #{arg0}
    </update>



    <select id="getLikeRecordsX_Timestem" resultMap="Lists">
        select * from record where name like '%*_15___________.%'  escape '*'  and ctime > 1590422400000;
    </select>

    <select id="getLikeRecordsX_X_X" resultMap="Lists">
        select * from record where name like '%*_20______*_______.%'  escape '*'  and ctime > 1590422400000;
    </select>

    <select id="getLikeRecordsScreenshot" resultMap="Lists">
        select * from record where name like '%20__-__-__-__-__-__-%'  escape '*'  and ctime > 1590422400000;
    </select>


    <select id="getLikeRecordsnum" resultMap="Lists">
        select * from record where name like '15___________.%'  and ctime > 1590422400000;
    </select>


    <select id="getLikemmexportX" resultMap="Lists">
        select * from record where name like 'mmexport_____________.%'  and ctime > 1590422400000;
    </select>


    <select id="getRecordMaxDate" resultType="java.lang.Long">
        select count(ctime) from record where atype = #{atype,jdbcType=VARCHAR}
    </select>




</mapper>